<div data-ng-controller="HomeController">
    <section id="slider_wrapper" class="slider_wrapper full_page_photo">
        <div id="main_flexslider" class="flexslider">
            <ul class="slides">
                <li class="item" style="background-image: url('images/gallery1.jpg')">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="animated bounceInDown">
                                Chouchoutez-vous ainsi que votre <strong>famille</strong> avec des légumes <strong>frais</strong> du jardin !
                            </h1>
                            <p class="lead animated bounceInUp skincolored">
                                <strong>My Kitchen Garden</strong> vous aide à installer et entretenir <strong>facilement</strong> votre potager.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item" style="background-image: url('images/gallery2.jpg')">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>
                                Cuisinez <strong>sain</strong> avec vos propres ingrédients de <strong>qualité</strong> !
                            </h1>
                            <p class="lead skincolored">
                                Suivez-le guide pour trouver de <strong>bonnes recettes</strong>.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="item" style="background-image: url('images/gallery3.jpg')">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="skincolored">
                                <strong>Frais</strong> &amp; <strong>100% BIO</strong>, vos légumes vont sublimer vos plats habituels !
                            </h1>
                            <p class="lead">
                                Des légumes cultivés soit-même, c'est l'assurance de produits <strong>goûteux</strong>.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="main">
        <div class="container">
            <section class="call_to_action">
                <h3>Concentrez-vous sur ce qui est important...</h3>
                <h4>Et mangez sain un peu plus facilement !</h4>
                <a data-ng-hide="authentication.user" class="btn btn-primary btn-lg" href="/#!/signup">Inscrivez-vous</a>
            </section>
        </div>
    </div>
</div>