# Fichier de config de PhpStorm
/.idea/

# Modules installés via nodeJs
/node_modules/

# Libraires importées via Bower
/bower_components/

# Vagrant
/.vagrant/
/mean/node_modules/

# Fichiers générés par les tâches Grunt
/lib/
/web/*
!/web/*.php
!/web/fiche-post/
/mean/bin/
/mean/public/fonts/
/mean/public/images/
/mean/public/js/
/mean/public/css/

# Dossier d'upload
/mean/public/upload/profile-photo/*
!/mean/public/upload/profile-photo/.gitkeep
/mean/public/upload/record-photo/*
!/mean/public/upload/record-photo/.gitkeep