<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Cher {{name}},</p>
	<br>
	<p>Vous avez demandé un changement de mot de passe sur {{appName}}</p>
	<p>Merci de visiter cette page pour réinitialiser votre mot de passe :</p>
	<p>{{url}}</p>
	<strong>Si vous n'avez pas fait cette demande, vous pouvez ignorer cette email.</strong>
	<br>
	<br>
    <p>L'équipe de {{appName}}</p>
</body>
</html>