<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Cher {{name}},</p>
	<p></p>
	<p>Ceci est une confirmation que le mot de passe de votre compte a bien été modifié.</p>
	<br>
	<br>
	<p>L'équipe de {{appName}}</p>
</body>
</html>