<div class="main" data-ng-controller="SettingsController">
    <div class="container">
        <section class="hgroup">
            <h1>Changement de mot de passe</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/#!/">Accueil</a></li>
                <li class="active">Changement de mot de passe</li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="signin">
                        <div class="row">
                            <div class="form col-lg-8 col-lg-offset-2">
                                <form data-ng-submit="changeUserPassword()" autocomplete="off">
                                        <input type="password" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Mot de passe actuel">
                                        <input type="password" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nouveau mot de passe">
                                        <input type="password" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Confirmation de nouveau mot de passe">
                                        <button type="submit" class="btn btn-large btn-primary">Enregistrer le mot de passe</button>
                                        <div data-ng-show="success" class="text-center text-success">
                                            <strong>Password Changed Successfully</strong>
                                        </div>
                                        <div data-ng-show="error" class="text-center text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>