<div class="main" data-ng-controller="SettingsController">
    <div class="container">
        <section class="hgroup">
            <h1>Comptes de réseaux sociaux</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/#!/">Accueil</a></li>
                <li class="active">Comptes de réseaux sociaux</li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="signin row">
                        <h3 class="col-md-12 text-center" data-ng-show="hasConnectedAdditionalSocialAccounts()">Comptes de réseaux sociaux connectés :</h3>
                        <div class="col-md-12 text-center">
                            <div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
                                <img ng-src="/app/modules/users/img/buttons/{{providerName}}.png">
                                <a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        </div>
                        <h3 class="col-md-12 text-center">Connecter un autre réseau social :</h3>
                        <div class="col-md-12 text-center">
                            <a href="/auth/facebook" data-ng-hide="isConnectedSocialAccount('facebook')" class="undecorated-link">
                                <img src="/app/modules/users/img/buttons/facebook.png">
                            </a>
                            <a href="/auth/twitter" data-ng-hide="isConnectedSocialAccount('twitter')" class="undecorated-link">
                                <img src="/app/modules/users/img/buttons/twitter.png">
                            </a>
                            <a href="/auth/google" data-ng-hide="isConnectedSocialAccount('google')" class="undecorated-link">
                                <img src="/app/modules/users/img/buttons/google.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>