<div data-ng-controller="AboutController">
    <div class="full_page_photo" style="background-image: url(images/gallery2.jpg);">
        <div class="container">
            <section class="call_to_action">
                <h3 class="animated bounceInDown">Nous <strong>aimons</strong> vraiment ce que nous faisons</h3>
                <h4 class="animated bounceInUp skincolored">tout en <strong>faisant sans cesse</strong> ce qui doit l'être !</h4>
            </section>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <section class="hgroup">
                <h1>A propos</h1>
                <ul class="breadcrumb pull-right">
                    <li><a href="/#!/">Accueil</a></li>
                    <li class="active">A propos</li>
                </ul>
            </section>
            <section class="article-text">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <p>
                            Vivamus vestibulum neque quis nunc convallis venenatis. Nulla tristique lorem sit amet ipsum ornare sit amet feugiat nulla condimentum. Sed faucibus volutpat nunc, at ullamcorper augue elementum id. Quisque at lectus leo, nec placerat mi. Curabitur egestas eleifend interdum. Suspendisse potenti. Suspendisse nec risus fermentum.
                        </p>
                        <p class="columns_2">
                            In hac habitasse platea dictumst. In hac habitasse platea dictumst. Donec aliquet tellus enim, a tincidunt nulla. Praesent mollis felis at nulla fermentum mattis. Vivamus vestibulum neque quis nunc convallis venenatis. Nulla tristique lorem sit amet ipsum ornare sit amet feugiat nulla condimentum. Sed faucibus volutpat nunc, at ullamcorper augue elementum id. Quisque at lectus leo, nec placerat mi. Curabitur egestas eleifend interdum. Suspendisse potenti. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem. Suspendisse quis sem lorem, a euismod nisl. Nullam eget tortor purus, id molestie sapien. Curabitur egestas eleifend interdum. Curabitur egestas eleifend interdum.
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="service_teaser vertical">
                            <div class="service_photo">
                                <figure style="background-image:url(images/gallery1.jpg)"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call_to_action">
                <i class="fa fa-hand-o-down fa-5x text-success"></i>
                <h3>Tout le monde peut avoir la main verte</h3>
            </section>
            <section class="team_members">
                <h2 class="section_header fancy centered">
                    Notre équipe...
                    <small>Toujours là pour améliorer My Kitchen Garden !</small>
                </h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="team_member">
                            <img class="img-circle" src="images/alfred-deivassagayame.jpg" alt="Alfred Deivassagayame">
                            <h5>Alfred<br />Deivassagayame</h5>
                            <hr>
                            <div class="team_social">
                                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team_member">
                            <img class="img-circle" src="images/jordan-delee.jpg" alt="Jordan Delee">
                            <h5>Jordan<br />Delee</h5>
                            <hr>
                            <div class="team_social">
                                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team_member">
                            <img class="img-circle" src="images/eric-marie.jpg" alt="Eric Marie">
                            <h5>Eric<br />Marie</h5>
                            <hr>
                            <div class="team_social">
                                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team_member">
                            <img class="img-circle" src="images/stephane-masselot.jpg" alt="Stéphane Masselot">
                            <h5>Stéphane<br />Masselot</h5>
                            <hr>
                            <div class="team_social">
                                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>