<div class="main" data-ng-controller="PasswordController">
    <div class="container">
        <section class="hgroup">
            <h1>Mot de passe oublié ?</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/#!/">Accueil</a></li>
                <li><a href="/#!/signin">Connexion</a></li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="signin">
                        <form data-ng-submit="resetUserPassword()" autocomplete="off" class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <input type="password" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nouveau mot de passe">
                                <input type="password" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Confirmation du mot de passe">
                                <button type="submit" class="btn btn-large btn-primary">Mettre à jour le mot de passe</button>
                                <div data-ng-show="error" class="text-center text-danger">
                                    <strong>{{error}}</strong>
                                </div>
                                <div data-ng-show="success" class="text-center text-success">
                                    <strong>{{success}}</strong>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>