<div class="main" data-ng-controller="PasswordController">
    <div class="container">
        <section class="hgroup">
            <h1>Mot de passe oublié ?</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/#!/">Accueil</a></li>
                <li><a href="/#!/signin">Connexion</a></li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="signin">
                        <section class="row text-center">
                            <h3 class="col-md-12">Le mot de passe a bien été modifié</h3>
                            <a href="/#!/" class="col-md-12">Retourner à la page d'accueil</a>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>