<div class="main" data-ng-controller="RecordsController" data-ng-init="findOne()">
    <div class="container">
        <section class="hgroup">
            <h1>Fiches</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/#!/">Accueil</a></li>
                <li><a href="/#!/records">Fiches</a></li>
                <li><a href="/#!/records/{{ record._id }}" data-ng-bind="record.name"></a></li>
            </ul>
        </section>
        <section>
            <h3 data-ng-bind="record.name"></h3>
            <form data-ng-submit="update()" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="name">Nom</label>
                        <div class="controls">
                            <input type="text" data-ng-model="record.name" id="name" class="form-control" placeholder="Nom" required>
                        </div>

                        <label class="control-label" for="name">Catégorie</label>
                        <div class="controls">
                            <select data-ng-model="record.category[0]" id="record.category" class="form-control" placeholder="Catégorie" required>
                                <option value="Légume">Légume</option>
                                <option value="Fruits">Fruit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default margin-bottom-none">
                            <div class="panel-body">
                                <div class="col-sm-8">
                                    <div class="panel panel-default margin-bottom-none">
                                        <div class="panel-body text-center portfolio_strict">
                                            <div class="portfolio_item">
                                                <a href="/#!/records/{{ record._id }}/edit" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                                                    <figure background-image="{{ getRecordPhoto(record) }}">
                                                        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                                            <path d="M180,0C180,0,0,0,0,0C0,0,0,0,0,0C0,0,180,0,180,0C180,0,180,0,180,0"></path>
                                                        </svg>
                                                        <figcaption>
                                                            <p data-ng-bind-html="(record.description | limitTo : 100 : 0) + ' ...[Lire la suite]'"></p>
                                                            <div class="view_button">Voir</div>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                                <div class="portfolio_description">
                                                    <h3><a href="/#!/records/{{ record._id }}/edit" data-ng-bind="record.name"></a></h3>
                                                    <p data-ng-bind="record.category[0]"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <label class="control-label">Photo de couverture</label><br />
                                        <div class="btn btn-success margin-bottom-sm"
                                             ngf-select
                                             ngf-multiple="false"
                                             ngf-allow-dir="false"
                                             ngf-accept="'.jpg,.jpeg,.gif,.png'"
                                             ngf-change="uploadRecordPhoto($files)">{{ record.recordPhoto ? 'Modifier' : 'Ajouter' }}</div>
                                        <button type="button" class="btn btn-danger margin-bottom-sm" data-ng-show="record.recordPhoto" data-ng-click="deleteRecordPhoto()">Supprimer</button>
                                        <p>.jpg, .jpeg, .gif ou .png</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea name="description" data-ng-model="record.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description" required></textarea>
                </div>

                <div class="text-center margin-top">
                    <input type="submit" value="Modifier" class="btn btn-success">
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <h3>Aperçu du contenu</h3>
                <div data-ng-bind-html="record.description"></div>
            </form>
        </section>
    </div>
</div>